body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, slategray, darkslategrey);
    margin: 0;
    /* La siguiente línea evita que el footer tape parte del body */
    padding-bottom: 100px;
}

h1 {
    background-color: black;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

.active {
    background-color: cadetblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: darkslategray;
}

li {
    float: left;
    border-right: 1px solid slategray;
}

li a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 15px;
}

li a:hover:not(.active) {
    background-color: cadetblue;
}

footer {
    background-color: darkslategray;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}