.centrado {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.galeria {
    margin: 10px;
    border: 1px solid cadetblue;
    float: left;
    width: 33vw;
}

div.galeria img {
    width: 100%;
    height: auto;
}

.descripcion {
    padding: 10px;
    text-align: justify;
}